<div class="list">	

	<div class="todos">
		<h2>{{ list.title }}</h2>	

		<div class="lists-container">

			<div class="actions btn-bottom">
				<button class="btn btn-danger" {{action "delete"}}>
					Eliminar lista
				</button>
			</div>

		</div>

	</div>

</div>
	